In [ ]:
# Initialize OK
from client.api.notebook import Notebook
ok = Notebook('lab01.ok')

# Lab 1 Basics of using python notebook

Welcome to the labs of Demog 180. This lab1 is designed to help students who would like to have some hands-on tutorial with the Python language and use of Jupyter notebook. Lab1 is constructed based on lab1 and lab2 in Data 8.

Good resources for knowledge, tutorial and training in python:

1. The website for Data8: http://data8.org/
 1) Datascience documentation: http://data8.org/datascience/#
 2) Textbook for Data 8: Computational and Inferential thinking  https://www.inferentialthinking.com/chapters/intro.html
2. Cheatsheet for syntext: https://www.datacamp.com/community/data-science-cheatsheets


Lab policies:

1. For the labs in this semester, you are not required to attend the lab sessions but **required to submit labs.** 
2. Labs are not graded based on the accuracy of your answers, but on effort; to get full credit, you have to make a good faith attempt at solving all of the lab. Labs are intended to help prepare you for the homework, so completing the labs will also help make the homework easier.
3. You are welcome to ask any questions during labs and on Piazza. We strongly encourage students to help each other with labs and try new things.

Let's get started.

In [ ]:
# run this line if you need to upgrade the pip
!pip install --upgrade pip

In [ ]:
!pip install jassign

In [ ]:
# We need to import some modules before we start
# modules have functions built in, and we need to import them first in order to use the functions we need
from datascience import Table
import jassign

import matplotlib # the lines involving matplotlib allow for plotting
matplotlib.use('Agg')
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
plt.style.use('fivethirtyeight') # 538 is a style in matplotlib, 
                                 # see https://tonysyu.github.io/raw_content/matplotlib-style-gallery/gallery.html for some other styles

# 1. Jupyter Notebook
This webpage is called a Jupyter notebook. A notebook is a place to write programs and view their results.

## 1.1. Text cells
In a notebook, each rectangle containing text or code is called a cell.

Text cells (like this one) can be edited by double-clicking on them. They're written in a simple format called *Markdown* to add formatting and section headings. You don't need to learn Markdown, but you might want to.

After you edit a text cell, click the "run cell" button at the top that looks like ‚ñ∂| to confirm any changes. (Try not to delete the instructions of the lab.)

**Practice** This paragraph is in its own text cell.  Try editing it so that this sentence is the last sentence in the paragraph above, and then click the "run cell" ‚ñ∂| button .

## 1.2 Code cells
Other cells contain code in the Python 3 language. Running a code cell will execute all of the code it contains.

To run the code in a code cell, first click on that cell to activate it. It'll be highlighted with a little green or blue rectangle. Next, either press ‚ñ∂| or hold down the shift key and press return or enter.

Try running this cell:

In [ ]:
print("Hello, World!")

And this one:

In [ ]:
print("\N{WAVING HAND SIGN}, \N{EARTH GLOBE ASIA-AUSTRALIA}!")

The fundamental building block of Python code is an expression. Cells can contain multiple lines with multiple expressions. When you run a cell, the lines of code are executed in the order in which they appear. Every print expression prints a line. Run the next cell and notice the order of the output.

In [ ]:
print("First this line is printed,")
print("and then this one.")

**Practice** Change the cell above so that it prints out:

First this line,
then the whole üåè,
and then this one.
Hint: If you're stuck on the Earth symbol for more than a few minutes, try talking to a neighbor or the instructor. That's a good idea for any lab problem.

## 1.3. Writing Jupyter notebooks
You can use Jupyter notebooks for your own projects or documents.  When you make your own notebook, you'll need to create your own cells for text and code.

To add a cell, click the + button in the menu bar.  You can change the cell to a code cell or marktown (text) cell by clicking inside it so it's highlighted, clicking the drop-down box next to the restart (‚ü≥) button in the menu bar, and choosing "Code" or "Markdown".

**Practice** Add a code cell below this one.  Write code in it that prints out:
   
    A whole new cell! ‚ô™üåè‚ô™

(That musical note symbol is like the Earth symbol.  Its long-form name is `\N{EIGHTH NOTE}`.)

Run your cell to verify that it works.

## 1.4. The Kernel
The kernel is a program that executes the code inside your notebook and outputs the results. In the top right of your window, you can see a circle that indicates the status of your kernel. If the circle is empty (‚ö™), the kernel is idle and ready to execute code. If the circle is filled in (‚ö´), the kernel is busy running some code. 

You may run into problems where your kernel is stuck for an excessive amount of time, your notebook is very slow and unresponsive, or your kernel loses its connection. If this happens, try the following steps:
1. At the top of your screen (between "Cell" and "Widgets‚ÄúÔºâ , click **Kernel**, then **Interrupt**.
2. If that doesn't help, click **Kernel**, then **Restart**. If you do this, you will have to run your code cells from the start of your notebook up until where you paused your work.
3. If that doesn't help, restart your server. First, save your work by clicking **File** at the top left of your screen, then **Save and Checkpoint**. Next, click **Control Panel** at the top right. Choose **Stop My Server** to shut it down, then **My Server** to start it back up. Then, navigate back to the notebook you were working on.

# 2. Numbers and arithmetic

Python could do arithmetic directly.
The line in the next cell subtracts.  Its value is what you'd expect.  Run it.

In [ ]:
3.25 - 1.5

Many basic arithmetic operations are built in to Python. The textbook section on Expressions describes all the arithmetic operators used in the course.

Note that the common operator that differs from typical math notation is, which raises one number to the power of the other. So, 2\**3 evaluates to 8. Using ^ to denote power will return an error.

The order of operations is what you learned in elementary school, and Python also has parentheses.

In [ ]:
3+6*5-6*3**2*2**3/4*7

In [ ]:
3+(6*5-(6*3))**2*((2**3)/4*7)

**Question 1** Write a Python expression in this next cell that's equal to $5 \times (3 \frac{10}{11}) - 50 \frac{1}{3} + 2^{.5 \times 22} - \frac{7}{33} + 2$.  That's five times three and ten elevenths, minus fifty and a third, plus two to the power of half 22, minus 7 33rds plus 1.  By "$3 \frac{10}{11}$" we mean $3+\frac{10}{11}$, not $3 \times \frac{10}{11}$.

Replace the ellipses (`...`) with your expression.  Try to use parentheses only when necessary.

<!--
BEGIN QUESTION
name: q1
points: 2
manual: False
-->

In [16]:
answer = ...  # Please replace ... with your answer
answer

In [ ]:
ok.grade("q1");

## 3. Checking and commenting your code
Now that you know how to name things, you can start using the built-in *tests* to check whether your work is correct (like the cell above). Try not to change the contents of the test cells. Running the testing cell will tell you whether you have q1 correctly in Question 1.

You may have noticed this line in the cell above:

    # Please replace ... with your answer

That is called a *comment*.  It doesn't make anything happen in Python; Python ignores anything on a line after a #.  Instead, it's there to communicate something about the code to you, the human reader.  Comments are extremely useful and it is helpful to have a consistent way of commenting and keep notes about things. This habit will help you when you go back to a project after two years and try to have others read your work.

<img src="http://imgs.xkcd.com/comics/future_self.png">

## 4. Calling functions and nesting

The most common way to combine or manipulate values in Python is by calling functions. Python comes with many built-in functions that perform common operations.

For example, the `abs` function takes a single number as its argument and returns the absolute value of that number.  The absolute value of a number is its distance from 0 on the number line, so `abs(5)` is 5 and `abs(-5)` is also 5.

In [ ]:
abs(5)

In [ ]:
abs(-5)

After calling the function `abs`, you get a value 5 from this **expression** abs(-5).
You can assign this value to a name by an equal sign so that we could use this value in other contexts. This process takes an **assignment statement**.
An assignment statement works as we're **evaluating the right-hand side** of the equals sign and **assigning it to the left-hand side**.

The **statements** and **expressions** are the building blocks of python code.

**Practice** Use the `abs` function to calculate how much shorter is A, 1.24 meters tall, from average human height, 1.68 meters tall. Assign the result to the answer variable called 'short'.

In [ ]:
short = ...

An additional layer of nesting: the function `max` takes two values and return the bigger one, and the `min` function returns the smallest of values. Call functions to answer the following question.

**Question 2** Among A (1.24m), B (1.53m) and C (1.72m), which one deviates the most from the average height (1.68m)? Assign the biggest distance from average as the answer 'biggest'.

<!--
BEGIN QUESTION
name: q2
points: 2
manual: False
-->

In [14]:
dis_A = ...
dis_B = ...
dis_C = ...

max(dis_A, dis_B, dis_C)

In [ ]:
ok.grade("q2");

# 5. Importing code and functions

ost programming involves work that is very similar to work that has been done before.  Since writing code is time-consuming, it's good to rely on others' published code when you can.  Rather than copy-pasting, Python allows us to **import** other code, creating a **module** that contains all of the names created by that code.

Python includes many useful modules that are just an `import` away.  We'll look at the `math` module as a first example. The `math` module is extremely useful in computing mathematical expressions in Python. 

Suppose we want to very accurately compute the area of a circle with radius 5 meters.  For that, we need the constant $\pi$, which is roughly 3.14.  Conveniently, the `math` module has `pi` defined for us:

In [3]:
import math
radius = 5
area_of_circle = radius**2 * math.pi

`pi` is defined inside `math`, and the way that we access names that are inside modules is by writing the module's name, then a dot, then the name of the thing we want:

    <module name>.<name>
    
In order to use a module at all, we must first write the statement `import <module name>`.  That statement creates a module object with things like `pi` in it and then assigns the name `math` to that module.  Above we have done that for `math`.

**Practice** The module `math` also provides the name `e` for the base of the natural logarithm, which is roughly 2.71.  Compute $e^{\pi}-\pi$, giving it the name `near_twenty`.

In [ ]:
near_twenty = ...

**Modules** can provide other named things, including **functions**.  For example, `math` provides the name `sin` for the sine function.  Having imported `math` already, we can write `math.sin(3)` to compute the sine of 3.  (Note that this sine function considers its argument to be in [radians](https://en.wikipedia.org/wiki/Radian), not degrees.  180 degrees are equivalent to $\pi$ radians.)

**Question 3** A $\frac{\pi}{4}$-radian (45-degree) angle forms a right triangle with equal base and height, pictured below.  If the hypotenuse (the radius of the circle in the picture) is 1, then the height is $\sin(\frac{\pi}{4})$.  Compute that using `sin` and `pi` from the `math` module.  Give the result the name `sine_of_pi_over_four`.

<img src="http://mathworld.wolfram.com/images/eps-gif/TrigonometryAnglesPi4_1000.gif">
(Source: [Wolfram MathWorld](http://mathworld.wolfram.com/images/eps-gif/TrigonometryAnglesPi4_1000.gif))

<!--
BEGIN QUESTION
name: q3
points: 2
manual: False
-->

In [4]:
sine_of_pi_over_four = ...

In [ ]:
ok.grade("q3");

You can try the other functions in the `math` module: `log`,`factorial`,`sqrt`,etc.

There's many variations of how we can import methods from outside sources. For example, we can import just a specific method from an outside source, we can rename a library we import, and we can import every single method from a whole library.

In [ ]:
#Importing just cos and pi from math.
#Notice that we don't have to use math. before hand for cos and pi
from math import cos, pi
print(cos(pi))
#We do have to use it infront of other methods from math, though
math.log(pi) # Note that the log in math module take the natural logrithm (base e) of a number

In [ ]:
#We can nickname math as something else, if we don't want to type math
import math as m
m.log(m.pi)

In [ ]:
#Lastly, we can import ever thing from math
from math import *
log(pi)

# 6. Defining functions

Sometimes the functions written by other people are not convenient enough to serve our purposes. In such case, we can define new functions to simply the coding process. 

Let's write a very simple function that converts a proportion to a percentage by multiplying it by 100.  For example, the value of `to_percentage(.5)` should be the number 50.  (No percent sign)

A function definition has a few parts.

##### `def`
It always starts with `def` (short for **def**ine):

    def

##### Name
Next comes the name of the function.  Let's call our function `to_percentage`.
    
    def to_percentage

##### Signature
Next comes something called the *signature* of the function.  This tells Python how many arguments your function should have, and what names you'll use to refer to those arguments in the function's code.  `to_percentage` should take one argument, and we'll call that argument `proportion` since it should be a proportion.

    def to_percentage(proportion)

We put a colon after the signature to tell Python it's over.

    def to_percentage(proportion):

##### Documentation
Functions can do complicated things, so you should write an explanation of what your function does.  For small functions, this is less important, but it's a good habit to learn from the start.  Conventionally, Python functions are documented by writing a triple-quoted string:

    def to_percentage(proportion):
        """Converts a proportion to a percentage."""
    
    
##### Body
Now we start writing code that runs when the function is called.  This is called the *body* of the function.  We can write anything we could write anywhere else.  First let's give a name to the number we multiply a proportion by to get a percentage.

    def to_percentage(proportion):
        """Converts a proportion to a percentage."""
        factor = 100

##### `return`
The special instruction `return` in a function's body tells Python to make the value of the function call equal to whatever comes right after `return`.  We want the value of `to_percentage(.5)` to be the proportion .5 times the factor 100, so we write:

    def to_percentage(proportion):
        """Converts a proportion to a percentage."""
        factor = 100
        return proportion * factor
Note that `return` inside a function gives the function a value, while `print`, which we have used before, is a function which has no `return` value and just prints a certain value out to the console. The two are **very** different. 
However, you can use print() if you just want to print out a value and you don't need to store the value in a name.

In [ ]:
# Define and run the to_percentage function
def to_percentage(proportion):
    """Converts a proportion to a percentage."""
    factor = 100
    return proportion * factor
to_percentage(0.18)

Here's something important about functions: the names assigned within a function body are only accessible within the function body. Once the function has returned, those names are gone.  So even though you defined `factor = 100` inside  the body of the `to_percentage` function up above and then called `to_percentage`, you cannot refer to `factor` anywhere except inside the body of `to_percentage`:

In [ ]:
# You should see an error when you run this.  (If you don't, you might
# have defined factor somewhere above.)
factor

# 7. Ifelse and loops
## 7.1 Conditional Statements

A conditional statement is composed of a sequence of conditions that allow Python to choose from different alternatives based on whether some condition is true.

Here is a basic example.

```
def sign(x):
    if x > 0:
        return 'Positive'
    else:
        return 'Negative'
```

If the input `x` is greater than `0`, we return the string `'Positive'`. Otherwise, we return `'Negative'`.

If we want to test multiple conditions at once, we use the following general format.

```
if <if expression>:
    <if body>
elif <elif expression 0>:
    <elif body 0>
elif <elif expression 1>:
    <elif body 1>
...
else:
    <else body>
```

Only the body for which the conditional expression is true will be evaluated. Each `if` and `elif` expression is evaluated and considered in order, starting at the top. As soon as a true value is found, the corresponding body is executed, and the rest of the conditional statement is skipped. If none of the `if` or `elif` expressions are true, then the `else body` is executed. 

For more examples and explanation, refer to the section on conditional statements [here](https://www.inferentialthinking.com/chapters/09/1/conditional-statements.html).

**Practice** Build a abs_log function that it returns the absolute value of the log of a positive number, and returns an error message saying "Error: the input number should be positive." Test this function by yourself.

In [ ]:
def abs_log_improve(number):
    if number >0:
        return abs(math.log(positive))
    else:
        return 'Error: the input number should be positive.'

## 7.2 Loops
Using a `for` statement, we can perform a task multiple times. This is known as iteration.
Here is an example that prints out the color of the rainbow.

In [11]:
from datascience import * # you need the function make_array in datascience module
rainbow = make_array("red", "orange", "yellow", "green", "blue", "indigo", "violet") #make_array creates an array of these string values.

for color in rainbow:
    print(color)

Here is an example of printing numbers 2 integers apart from the starting number to the end point.

In [ ]:
for x in range(1,11,2): #range(start, end, step), the end point is open-ended aka not included
    print(x)

**Question 4** Try to define a function `sd` that takes a list of numbers and calculate the standard deviation of this array of numbers. The standard deviation is a measure that is used to quantify the amount of variation of a set of data values. The formula is: 
$sd = \sqrt{\frac{\sum{(x-\bar{x})^2}}{n}}$

Apply this function to an array:(2,4,6,8,10).

*Hint1: you need a mean value to calculate the deviation for each number*;
*Hint2: you need to sum up all the results produced by the loop.*

<!--
BEGIN QUESTION
name: q4
points: 2
manual: False
-->

In [9]:
import numpy as np #import the module that contains the mean function
def sd(array):
    ...

In [ ]:
ok.grade("q4");

# 8 Tables
A Table is a sequence of labeled columns of data.

A Table can be constructed from scratch by extending an empty table with columns.

In [ ]:
# Construct a table from strach and assign it to a name 't'
t = Table().with_columns([
    'letter', ['a','b','c','z'], # contents in quotes '' are string texts. Words without quotes refer to variable names or function names.
    'count', [9, 3, 3, 1],
    'points', [1, 2, 2, 10],
])

In [ ]:
# Let's see what you constructed
print(t)

More usually, we load the dataset that we want to analyze via a path to the file.

In [ ]:
Table.read_table('ucb_personal_networks_clean.csv')

Let's work with the first 10 rows of this data as an example to learn basic syntax.

In [ ]:
# Assign this table to a name called survey
### path needs to be updated for this year's data
survey = Table.read_table('ucb_personal_networks_clean.csv')

# Then choose the first 10 rows as an example
example = survey.take[:10]

# Take a look at this dataset called example
example

## 8.1 Accessing data in the table

To access values of columns in the table, use `column()`, which takes a column label or index and returns an array. Alternatively, `columns()` returns a list of columns (arrays).

Let's use `example` data.

In [ ]:
example.column('respondent_gender') # This line returns the description of the column called "letter". You use quotes because you are refering to a name

You can also refer to the "letter" column by index.
** Indexing starts from 0.** The "interview_number" column, which is the 1st column, is column(0).

In [ ]:
example.column(0) # indexing takes numbers, don't put numbers in quotes!

In [ ]:
example.column(1)

You can use square brackets to do the same thing as the .column function as a short hand.

In [ ]:
example['interview_number']

In [ ]:
example[0]

You can also get the number of rows (often used for counting):

In [ ]:
example.num_rows

## 8.2 Manipulating data

Adding a column:

In [ ]:
example.with_column('interviewer_id', [1,1,1,2,2,2,3,3,3,4]) # here we add a column that counts the interviewers
                                                             # You will see this column on the right of the table (scroll to the right)

In [ ]:
# NOTE that .with_column returns a new table without modifying the original one. The table t is still the same.
example

Let's reduce the table to only contain the information about the respondents for a simpler illustration.

You select columns with `select()`.

In [ ]:
example.select(['interview_number','respondent_gender','respondent_age','respondent_class',
               'respondent_home'])

In [ ]:
# Let's assign this as a new dataset
example2 = example.select(['interview_number','respondent_gender','respondent_age','respondent_class',
               'respondent_home'])

You can renaming columns with `relabeled()`:

In [ ]:
example2.relabeled('respondent_home', 'respondent_residency')

In [ ]:
# Like .with_column(), renaming doens't change the original example1
example2

You can selecting rows by index with `take()` and conditionally with `where()`:

In [ ]:
example2.take(2) # returns the 3RD row

In [ ]:
example2.where('respondent_gender', 'Female') # returns the rows where the respondent_gender is "Female"

In [ ]:
example2.where(example2['respondent_age'] < 20) # example1['count'] refers to the values in column 'count', you could only compare values to values
                        # this whole function returns the rows where respondent_age < 20

In [ ]:
# Let's see what example2['respondent_age'] < 20 returns
example2['respondent_age'] < 20 # the results of comparison are an array of booleans (trues or falses)

Further operation on table data with `sort()`, `group()`, and `pivot()`.

In [ ]:
example2.sort('respondent_age') # this function sorts the table based on the values in 'respondent_age' column

In [ ]:
example2.sort('respondent_gender', descending = True) # You can also sort the first letters of words from z to a.

In [ ]:
# You may pass a reducing function into the collect argument
# Note the renaming of the points column because of the collect argument

example2.select(['respondent_home','respondent_age']).group('respondent_home', collect = min) # this line selects the two columns 'respondent_home' and 'respondent_age',
                                                           # and then group these row based on 'respondent_home
                                                           # and report the smallest number of the 'respondent_age' in each category.

In [ ]:
# You can use the 'pivot' function to do some tabulations.
example2.pivot('respondent_home','respondent_gender')

In [ ]:
# We can take a pivot look at the whole dataset
survey.pivot('respondent_home', 'respondent_gender')

## 9 Converting from wide to long

We designed that survey so that respondents could tell us about up to five alters. In order to look at all of the alters respondents reported about and analyze the relationship between the respondents and alters, we're going to have to manipulate the dataset a bit more extensively. This manipulation is a little bit tricky, but we're going to go through how it can be done step by step.

First, let's take a look at the first few rows of the dataset again to remind ourselves of how it is structured:

In [ ]:
survey.show(6)

The dataset is in *wide* format: all of the information reported by a respondent is stored in a single row:

[respondent 1 info] ... [info about respondent 1's first alter] ... [info about respondent 1's second alter] ...   
[respondent 2 info] ... [info about respondent 2's first alter] ... [info about respondent 2's second alter] ...   
...

Our goal is to reshape the dataset so that the information is in *long* format instead:

[respondent 1 info] [info about respondent 1's first alter]  
[respondent 1 info] [info about respondent 1's second alter]  
[respondent 1 info] [info about respondent 1's third alter]  
[respondent 1 info] [info about respondent 1's fourth alter]  
[respondent 1 info] [info about respondent 1's fifth alter]  
[respondent 2 info] [info about respondent 2's first alter]  
[respondent 2 info] [info about respondent 2's second alter]  
...

We're going to start by creating an id variable for our survey responses. 

Always remember to double-check the results of your operations.

In [ ]:
## create a respondent id variable
survey['respondent_id'] = range(1, survey.num_rows + 1) # using [] is a short-hand approach for .with_column function

In [ ]:
survey.show(6)

In order to convert the alter information from wide to long format, we're going to use two functions that have been written for you below.

Let's look at the function below and try to understand how it works.

In [ ]:
def repeat_single_col(data, var_name, times=5):
    """Repeats a single column multiple times.
    
    Parameters
    ----------
    data : Table
        The data table containing the column to be repeated.
    var_name : str
        Text that contains the name of the column to repeat.
    times : int
        The number of times column is to be repeated.
    
    Returns
    -------
    np.array
        A single array with the contents of the column repeated five times.
    
    Examples
    --------
    >>> repeat_single_col(Table().with_columns(['respondent_age', [10]]),
                          'respondent_age')
    
    array([10, 10, 10, 10, 10])
    """
    new_col = np.tile(data.column(var_name), times)
    return new_col

The key to understanding repeat_single_col is the np.tile function. Look that function up and read its help page.

**Practice** Use np.tile to create an array that contains [1,3,5,7,1,3,5,7,1,3,5,7,1,3,5,7].

In [ ]:
#np.tile? # You can remove the # sign and see the 'help' documentation for np.tile
np.tile([1,3,5,7], 4)

**Practice** What is the difference between np.tile and np.repeat? Do they do the same thing?
[Hint: you can use the help page to figure out what np.repeat does.]

In [ ]:
#np.repeat?
np.repeat([1,3,5,7], 4)

Now look at the next function, and try to understand how it works.

In [ ]:
def wide_to_long(data, var_name, times=5):
    """Given columns of alter characteristics, stack them into one long column.
    
    Parameters
    ----------
    data : Table
        The data table containing the alter characteristics
    var_name : str
        Text that contains the variable name; columns of the dataset should
        match the pattern: alter[NUM]_[var_name]
        For example, if var_name is 'age' then this function expects to find
        columns in the survey dataset named 
        'alter1_age', 'alter2_age', 'alter3_age', 'alter4_age', and 'alter5_age'
    times : int
        The number of columns for each characteristic
    
    Returns
    -------
    np.array
        A single array with the contents of all of the columns stacked on top of one another.
    
    Examples
    --------
    >>> wide_to_long(Table().with_columns(['alter1_age', [10, 15],
                                           'alter2_age', [30, 35],
                                           'alter3_age', [20, 15],
                                           'alter4_age', [60, 70],
                                           'alter5_age', [20, 25]]),
                     'age')
    
    array([10, 15, 30, 35, 20, 15, 60, 70, 20, 25])
    """
    new_col = np.concatenate([data.column('alter' + str(idx) + '_' + var_name) for idx in range(1,times+1)])
    return new_col

The key to understanding this second function is np.concatenate. Look up the help page for np.concatenate.

In [ ]:
np.concatenate?

**Practice** Use `np.concatenate` to make a single array that has the contents of `column_one` and `column_two` concatenated together:

In [ ]:
concat_table = Table().with_columns(['column_one', [1,3,5,7,9],
                                    'column_two', [2,4,6,8,10]])
concat_table

In [ ]:
np.concatenate(concat_table)

Now that we understand what np.concatenate does, let's run the wide_to_long() function upon a simple table to see what it does.

In [ ]:
temp_table = Table().with_columns(['alter1_age', [10, 15],
                                   'alter2_age', [30, 35],
                                   'alter3_age', [20, 15],
                                   'alter4_age', [60, 70],
                                   'alter5_age', [20, 25]])
wide_to_long(temp_table,'age')

You can see that it links the head and end of columns.

We'll take a first try at converting the alter data to long format together, and then you'll do a more complete job as an exercise.

For our first step, we'll only keep the respondent's id number and the age of the alters each respondent reported about. Since there is space for 5 alters per respondent, we expect (number of respondents x 5) = (... x 5) = ... rows in our resulting dataset.

Let's construct the table.

In [ ]:
alter_first_try = Table().with_columns([
    'respondent_id', repeat_single_col(survey, 'respondent_id'),
    'alter_age', wide_to_long(survey, 'age')])

You can see that we want to use `repeat_single_col` for the column that is a respondent characteristic and that we want to use `wide_to_long` for the column that is an alter characteristic.

Let's check that the resulting Table, called `alter_first_try` makes sense.

**Practice** How many rows do you think alter_first_try should have? Check the number of rows.

In [ ]:
...

**Practice** The following statement allows you to double-check that each respondent appears five times in this dataset.

In [ ]:
np.all(alter_first_try.group('respondent_id').column('count') == 5)

**Practice** Now it's your turn! Using the example above as a pattern, create a long dataset that has

* respondent id
* respondent age
* respondent class
* respondent home
* alter age
* alter gender
* alter class
* alter home

Don't forget to perform a couple of checks to be sure the resulting dataset makes sense (like we did above).

**Hint: you need to repeat the information for the respondent and convert from wide to long for the alters' information.**

In [ ]:
alter_data = Table().with_columns([
    'respondent_id', ...,
    'respondent_age', ...,
    'respondent_class', ...,
    'respondent_home', ...,
    'alter_age', ...,
    'alter_gender', ...,
    'alter_class', ...,
    'alter_home', ...,])

alter_data

In [ ]:
alter_data = Table().with_columns([
    'respondent_id', repeat_single_col(survey, 'respondent_id'),
    'respondent_age', repeat_single_col(survey, 'respondent_age'),
    'respondent_class', repeat_single_col(survey, 'respondent_class'),
    'respondent_home', repeat_single_col(survey, 'respondent_home'),
    'alter_age', wide_to_long(survey, 'age'),
    'alter_gender', wide_to_long(survey, 'gender'),
    'alter_class', wide_to_long(survey, 'class'),
    'alter_home', wide_to_long(survey, 'home'),])

alter_data

Check the number of rows of the new table as well as the repetitions of the repondents in the new table.

In [ ]:
nrow = alter_data.num_rows
nrow

In [ ]:
# double check that each respondent appears 5 times
np.all(alter_data.group('respondent_id').column('count') == 5)

### Ages of Berkeley students' confidants

OK, now that we have created a long-form dataset, let's make use of it to learn about the people Berkeley students discuss important matters with.

Start by trying to make a histogram of the confidants' ages. (You will get an error -- read the error message and then see the next question.)

In [ ]:
alter_data.hist('alter_age')

You get an error message because some of the rows of the dataset have nan or 'not a number' for the value of age. Why? Because not every respondent reported 5 alters. So we need to filter our dataset down to only have data from actual reports about alters.

We will do this by assuming that if alter_age is nan, then no alter was reported about.

**Practice** Use a where statement to keep only the rows of alter_data that do not have an nan value for alter_age.

[HINT 1: Check out the np.isnan function.]
[HINT 2: You can flip the TRUE or FALSE value of an array of Boolean values by using ~. So ~ [False, True, False] equals [True, False, True].

In [ ]:
# Prep
np.isnan?

In [ ]:
# First step, get the booleans (trues and falses) for constructing the table
# If it's TRUE for the 1st row, it will be kept in the new table, otherwise it will be filtered out.
boolean = ...(alter_data.column('alter_age')) # fill in the code before the ()

In [ ]:
# Second step, construct the new data table
alter_data = alter_data.where(boolean)
alter_data.show() # the filtered alter_data

In [ ]:
# Finally, check the number of rows
alter_data.num_rows

In [ ]:
alter_data.hist('alter_age')

**Practice** What is the range of the age of the age?

In [ ]:
oldest = np.max(alter_data.column('alter_age'))
youngest = np.min(alter_data.column('alter_age'))

print('oldest age:', oldest)
print('youngest age:', youngest)

We can also take a look at the composition of alters regarding where they live.

**Practice** What's the proportion of alters from Bay Area of all the alters?

In [ ]:
# First, you create a variable, alter_bay which has value False if the alter is not from the Bay Area, and True otherwise.
alter_bay = alter_data.column('alter_home') == 'Bay Area' # two equal marks == constructs a comparison, the result is true (equal to) or false (not equalt to)

In [ ]:
# Secondly, you calculate the proportion of the rows which has the alter_bay variable True.
alter_bay_proportion = np.mean(alter_bay)
alter_bay_proportion

**Question 5** Try to take an analytical work at the survey dataset from your own perspective. You can look at the distribution of alter's age (don't forget to remove the nans like we just did), or you can look at the composition of respondents and alters regarding their gender, or anything you think might be interesting. 

Please summarize your finding with a plot or a few words.

Here are some codes that might be helpful:
** to draw a histogram **: dataset.hist('column name');  
** to draw a scatter plot **: dataset.scatter('column name 1','column name 2')

In [ ]:
... # Answer question 5 here

# Submitting your lab
Congratulations on finishing lab1.

Before handing it in, you can rerun all the tests again to see if you missed any thing.

In [ ]:
import os
print("Running all tests...")
_ = [ok.grade(q[:-3]) for q in os.listdir("tests") if q.startswith('q')]
print("Finished running all tests.")

Run the following code to submit your lab1.

In [ ]:
# Save your notebook first, then run this cell to submit.
ok.submit()